---
import type { GetStaticPaths } from 'astro';

import { getPokemonList } from '../../lib/services/pokemon.service';
import { queryClient } from '../../lib/queryClient';
import { queryKeys } from '../../lib/queryKeys';
import MainLayout from '../../layouts/MainLayout.astro';
import PokemonCardPreview from '../../components/pokemons/PokemonCardPreview.astro';

export const getStaticPaths = (async ({ paginate }) => {
  const limit = 20;

  const { results } = await queryClient.fetchQuery({
    queryKey: queryKeys.pokemonList(limit),
    queryFn: () => getPokemonList(limit),
  });

  return paginate(results, { pageSize: 5 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<MainLayout title="Home">
  <h1>Pokemons details</h1>

  <section
    aria-label="list of pokemons"
    class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 gap-4"
  >
    {page.data.map((pokemon) => <PokemonCardPreview {...pokemon} />)}
  </section>

  <section>
    <nav aria-label="Pokemon pagination" class="flex items-center justify-center gap-2">
      <a
        href={page.url.prev}
        class:list={['btn btn--primary', { 'btn--disabled': !page.url.prev }]}
      >
        ← Prev
      </a>

      <span class="px-2 text-sm">
        Page <strong>{page.currentPage}</strong> of <strong>{page.lastPage}</strong>
      </span>

      <a
        href={page.url.next}
        class:list={['btn btn--primary', { 'btn--disabled': !page.url.next }]}
      >
        Next →
      </a>
    </nav>
  </section>
</MainLayout>
