@layer utilities {
  .container-app {
    @apply mx-auto w-full max-w-6xl px-4 md:px-6;
  }

  .page {
    @apply flex flex-col min-h-screen mx-auto w-full max-w-6xl px-4 md:px-6 gap-4;
  }

  .text-balance {
    text-wrap: balance;
  }
}
