@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-foreground font-semibold tracking-tight;
  }

  h1 {
    @apply text-4xl md:text-5xl;
  }

  h2 {
    @apply text-3xl md:text-4xl;
  }

  h3 {
    @apply text-2xl md:text-3xl;
  }

  p {
    @apply text-base leading-7 text-foreground;
  }

  small {
    @apply text-sm text-muted;
  }

  code {
    @apply rounded bg-black/5 px-1.5 py-0.5 text-sm dark:bg-white/10;
  }

  a {
    @apply underline-offset-4 hover:underline;
  }
}
