---
import type { GetStaticPaths } from 'astro';

import { getPokemonList } from '@lib/services/pokemon.service';
import { queryClient } from '@lib/queryClient';
import { queryKeys } from '@lib/queryKeys';
import MainLayout from '@layouts/MainLayout.astro';
import PokemonCardPreview from '@components/pokemons/PokemonCardPreview.astro';

export const getStaticPaths = (async () => {
  const { results: pokemons } = await queryClient.fetchQuery({
    queryKey: queryKeys.pokemonList(),
    queryFn: () => getPokemonList(),
  });

  const initialPokemons = pokemons.map((pokemon) => ({
    params: {
      id: pokemon.url.split('/').at(-2),
    },
    props: {
      name: pokemon.name,
      url: pokemon.url,
    },
  }));

  return initialPokemons;
}) satisfies GetStaticPaths;

const { name, url } = Astro.props;
---

<MainLayout title={name}>
  <a href="/pokemons/1" class="unused-style">Return</a>

  <h1>{name}</h1>

  <PokemonCardPreview name={name} url={url} />
</MainLayout>
