---
import AppLayout from '../layouts/AppLayout.astro';
---

<AppLayout title="Home">
  <p>Current moment (static): {new Date().toLocaleTimeString()}</p>
  <p>Current moment (dynamic): <span class="current-moment"></span></p>

  <script>
    const currentTime = new Date().toLocaleTimeString();

    const currentTimeElement = document.querySelector('span.current-moment') as HTMLElement;

    currentTimeElement.innerHTML = currentTime;
  </script>
</AppLayout>
