---
import PokemonCard from '../components/pokemons/PokemonCard.astro';
import { queryClient } from '../lib/queryClient';
import MainLayout from '../layouts/MainLayout.astro';
import { getPokemonList } from '../lib/services/pokemon.service';

const data = await queryClient.fetchQuery({
  queryKey: ['pokemon-list'],
  queryFn: () => getPokemonList(),
});
---

<MainLayout title="Home" >
  <h1>List of Pokemons</h1>

  <section
    aria-label="list of pokemons"
    class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 gap-4"
  >
    {data.results.map((pokemon) => <PokemonCard {...pokemon} />)}
  </section>
</MainLayout>
